{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-8 grid-margin stretch-card mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Apply for Job</h2>
                <form method="post" class="row g-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="{{ form.full_name.id_for_label }}" class="form-label">Full Name</label>
                            {{ form.full_name }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="{{ form.phone_number.id_for_label }}" class="form-label">Phone number</label>
                            {{ form.phone_number }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label">Education</label>
                            {{ form.education }}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="{{ form.skills.id_for_label }}" class="form-label">Skills</label>
                            {{ form.skills }}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label">Work Experience</label>
                            {{ form.work_experience }}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="{{ form.applied_job.id_for_label }}" class="form-label">Select Job</label>
                            {{ form.applied_job }}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="{{ form.upload_cv.id_for_label }}" class="form-label">Upload CV</label>
                            <div class="input-group">
                                <input type="file" class="form-control" id="{{ form.upload_cv.id_for_label }}" name="{{ form.upload_cv.name }}" aria-describedby="inputGroupFileAddon">
                                <label class="input-group-text" for="{{ form.upload_cv.id_for_label }}">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .card {
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    }

    .card-title {
        color: #333;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-label {
        font-weight: bold;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

  
    input[type="text"] {
        width: 100%;
    }
   
    select[name="work_experience"] {
        width: 50%;
    }
    select[name="applied_job"] {
        width: 55%;
    }
    
     .input-group-text {
        cursor: pointer;
        background-color: #007bff;
        border-color: #007bff;
        color: white;
    }

    .input-group-text:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>
{% endblock %}
