{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-12 grid-margin stretch-card mx-auto  mt-5">
        <div class="card">
            <div class="card-body">
                <div class="card-header" style="border-radius: 8px; background-color:#fff;"><h1 class="text-center">{{ object.title }}</h1></div>
                <br>
                <p>{{ object.description }}</p>
                <p>{{ object.posted_at }}</p>
                <button  class="btn  btn-lg"><a class="nav-link" href="{% url 'create_resume' %}" style="text-decoration: none; color: azure;">Apply</a></button>
                <button  class="btn  btn-lg"><a class="nav-link" href="{% url 'ranked_applicants' job.id %}" style="text-decoration: none; color: azure;">Rank</a></button>
                
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}