{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if not created %}

<div class="row">
    <div class="col-8 grid-margin stretch-card mx-auto  mt-5">
        <div class="card" style="border-radius: 28px;">
            <div class="card-header" style="border-radius: 8px; background-color:#fff;"><h2 class="text-center" style="color: black;">Job Vacancy</h2></div>
            <div class="card-body">
                
                <form method="post" class="forms-sample">
                    {% csrf_token %}

                    {{ form|crispy }}


                    <button type="submit" class="btn  btn-lg">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>


{% else %}
<h3>Your Job Listing was created</h3>
<a href="/job_list/{{object.id}}/"> {{ object.title }} - {{ object.posted_at }}</a>
{% endif %}

{% endblock content %}